@use "../mixins.scss" as mixins;
@import '../mixins';

.parent {
    width: 100vw;
    margin-top: 50px; 
}

.textSection {
    margin-top: 20px;
    text-align: center;

    .h1{
        font-family: Monofett;
        font-size: 60px;
    }

    .p{
        font-family: Inter;
        font-size: 20px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 750px) {
    .parent {
        .textSection {
        
            .h1{
                font-size: 40px;
            }
        
            .p{
                font-size: 16px;
            }
        }
    }

    .reportsSection {

        .th {
            font-size: 14px;
        }
    
        .td {
            font-size: 14px;
        }
    }
}

.textSection2 {
    margin-top: 50px;
    text-align: center;

    .p{
        font-family: Inter;
        font-size: 20px;
        margin-bottom: 0;
    }
}

.reportsSection {
    width: 100vw;
    text-align: center;
    padding: 20px;

    .th {
        font-family: Inter;
        font-weight: bold;
        padding: 10px;
        border: 1px solid rgb(var(--black));

    }

    .td {
        font-family: Inter;
        padding: 10px;
        border: 1px solid rgb(var(--black));
        
    }

    .reportTable{
      margin: auto;
      border: 1px solid rgb(var(--black));
    }
}

.child3 {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 0 50px;

    .searchDiv {
        width: 280px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 40px;
    }

    .p2 {
        font-size: 14px;
        text-align: center;
        max-width: 500px;
    }

    .CFAButton {
        @include CFAButton;
      
    }
}

.DeleteBtn{
    @include DeleteButton;
    margin-top: 10px;
}

.input {
    width: 180px;
    margin: auto 10px;
}

.fetchedDiv {
    width: fit-content;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(var(--black));
    padding: 20px;
    border-radius: var(--smallRadius);
    @include bigShadow;
}

@media screen and (max-width: 525px) {
    .parent {
        .textSection {
            margin-top: 20px;
            text-align: center;
            padding: 0 30px;

            .h1{
                font-size: 40px;
            }
        
            .p{
                font-size: 16px;
            }
        }
    }

    .reportsSection {

        .th {
            font-size: 12px;
            padding: 5px;
        }
    
        .td {
            font-size: 12px;
            padding: 5px;
        }
    }

    .child3 {
        width: 100vw;
        margin: auto;
        padding: 50px 50px 0 50px;
    
        .searchDiv {
            width: 200px;
            margin: auto;
            margin-bottom: 20px;
        }
    
        .CFAButton {
            @include CFAButton;
            padding: 5px;

          
        }
    }

    .textSection2 {
        margin-top: 50px;
        text-align: center;
    
        .p{
            font-size: 14px;
        }
    }
}