@use "../mixins.scss" as mixins;
@import '../mixins';

.loginForm{
  height: fit-content;
  width: 900px;
  margin-top: 50px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid rgb(var(--grey));
  @include bigShadow;
  border-radius: var(--bigRadius);
}

.child1 {
  width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 1px solid rgb(var(--black));
  box-sizing: border-box;
}

.h1 {
  font-family: Monofett;
  font-size: 80px;
  text-align: center;
}

.child2 {
  width:300px;
  height: fit-content;
  padding: 0px 20px;
  box-sizing: border-box;
}

.CFAButton {
   @include CFAButton;
   margin-bottom: 5px;
   margin-top: 0;
   width: 100%;
} 

.devider{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 15px;
  align-items: center;
  margin: 10px 0;

  .p{
    width: fit-content;
    margin: 0 5px;
  }

  .hr{
    width: 100px;
    height: 1px;
  }
}

.fbButton{
  @include fbButton;
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(var(--white));
}

.GoogleButton{
  @include googleButton;
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fbButton2 {
  @include fbButton;
  margin: 5px;
}

.GoogleButton2 {
  @include googleButton;
  margin: 5px;
}

 .para {
    font-size: 16px;
    display: block;
    margin: auto;
 }

 .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .para {
        font-size: 14px;
        color: rgb(var(--secondaryColor));
    }

    .signUp {
        font-family: Inter;
        font-weight: bold;
        font-size: 20px;
        background-color: transparent;
    }
 }


 .signUp {
    border: none;
    cursor: pointer;
    @include mixins.link();
 }

 .linkBtn {
    @include mixins.link();
    border: 0;
    font-size: 16px;
    background-color: transparent;
    color: rgb(var(--secondaryColor));
  }

  .h2{
    display: block;
    text-align: left;
    margin: 10px 0 15px;
    font-family: Inter;
    font-weight: 600;
    color: rgb(var(--secondaryColor));
  }

  .formDiv{
   display: block;
   padding: 20px;

   input{
      width: 100%;
   }
  }

  .Success{
   display: none;
   position: relative;
   z-index: 2000;
   padding: 20px;
   width: 100%;
   height: 100%;
   top: 0;
  }

  .error {
   color: rgb(var(--red));
   font-size: 12px; // Smaller font size
   font-family: inter;
   font-weight: lighter;
 }

 .avatarDiv{
   height: 50px;
   display: flex;
   flex-wrap: wrap;
 }

 .avatarP{
  font-size: 14px;
 }

 .note{
   font-size: 12px;
   margin-bottom: 10px;
 }

 .socialIcons{
   width: 100%;
   padding-bottom: 20px;
 }

 .dropDownDiv{
  display: flex;
  justify-content: space-between;
 }

 .select2 {
  height: 40px;
  width: 120px;
  padding: 10px 5px; 
  background-color: rgb(var(--white));
  font-size: 12px;
  margin: 5px 0;
  border-radius: var(--bigRadius);
  font-family: Inter;
  cursor: pointer;
 }

 .socialLogin {
  display: flex;
  justify-content: center;
 }

 /* Hide the default radio button */
.avatarLabel input[type="radio"] {
  display: none;
}

/* Style the label to display the image */
.avatarLabel {
  display: inline-block;
  cursor: pointer;
  margin: 5px 0px;
}

/* Style the image inside the label */
.avatarLabel img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border: 5px solid transparent; /* Add border for selected state */
  border-radius: 50%; /* Make the image circular */
  transition: border-color 0.3s;
  margin-bottom: 0;
}

/* Add a border to the image when its radio button is selected */
.avatarLabel input[type="radio"]:checked + img {
  border-color: rgb(var(--orange)); 
}

.closeButton {
  @include exitBtn;
}


@media screen and (max-width: 985px) {
  
  .loginForm{
    height: fit-content;
    width: 700px;
  }

  .child1 {
    width: 500px;
    padding-right: 20px;
  }
  
  .h1 {
    font-family: Monofett;
    font-size: 70px;
    text-align: center;
  }

}

@media screen and (max-width: 746px) {
  
  .loginForm{
    height: fit-content;
    width: 600px;
    border: 0px;
    @include bigShadow;
    box-shadow: 0;

  }

  .child1 {
    width: 270px;
    padding-right: 20px;
  }
  
  .h1 {
    font-family: Monofett;
    font-size: 50px;
    text-align: center;
  }

}

@media screen and (max-width: 646px) {
  
  .loginForm{
    height: fit-content;
    width: fit-content;
    border: 0px;
    @include bigShadow;
    box-shadow: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;

  }

  .child1 {
    width: 200px;
    height: 350px;
    padding-right: 20px;
    border-right: 0px solid rgb(var(--black));
  }
  
  .h1 {
    font-family: Monofett;
    font-size: 50px;
    text-align: center;
  }

}