@use "../mixins.scss" as mixins;
@import '../mixins';

.parent{
    width: 100vw;
    padding: 80px 100px;

    h1{
        font-family: Monofett;
        font-size: 120px;
        width: 500px;
    }

    p{
        font-family: Inter;
        width: 700px;
        font-size: 20px;
        margin: 10px 0;
    }

    h2{
        font-family: Inter;
        font-weight: bold;
        margin-top: 50px;
    }

    ul{
        margin-left:20px;
        margin-top: 10px;
        width: 600px;
    }

    li{
        font-family: Inter;
        margin-top: 5px;
     
    }


}