@import '../mixins';

.Parent{
   height: 85vh;
   width: 100vw;
   margin-top: 40px;
   display: flex;
   justify-content: center;
   align-items: center;

}   

   .child1{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   @media screen and (max-width: 585px) {

    .child1{
        width: 100vw;
        height: 100%;
       }
 }

   .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

    .p1 {
        font-family: Inter;
        font-size: 16px;
    }

    .p2 {
        font-family: Inter;
        font-size: 12px;
    }

    .p3 {
        font-family: Inter;
        font-size: 1px;
        color: rgb(var(--black), 0);
    }

    .CFAButton {
        @include CFAButton;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 500px;
        padding: 10px;
        border-radius: var(--bigRadius);
        margin-bottom: 10px;
        background-color: rgb(var(--white));
        @include bigShadow;
    }

    .textarea {
        border: 0px;
        height: 100px;
        width: 100%;
        background-color: white;
        font-size: 16px;
        font-family: Inter;
    }

    .textarea:focus{
        outline: none;
      
    }

    .profileIMG {
        height: 50px;
        width: 60px;
        padding-right: 10px;
        border-radius: 100%;
    }


    .fetchArea {
        display: flex;
        align-items: center;
    }

    .writePostDiv{
        position: fixed;
        right: 40px;
        bottom: 30px;
    }

    .writePost {
        font-family: Inter;
        font-weight: 500;
        color: rgb(var(--white));
        border: solid 2.5px rgb(var(--black));
        outline: 0;
        padding: 30px 25px;
        font-size: 1rem;
        letter-spacing: 0;
        background-color: rgb(var(--blue));
        border-radius: var(--bigRadius);
        position: relative;
        cursor: pointer; 
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            height: 90%;
            background-color: rgb(var(--blue), 0.8);
            z-index: -1;
            border-radius: var(--bigRadius);
            border: solid 2px rgb(var(--blue));
            box-shadow:  3px 3px 5px rgb(var(--grey),0.5);
            transition: all 0.5s ease-in-out;
        }
        &:hover::after {
            width: 100%;
            height: 100%;
            top: 7px;
            left: 7px;
          }
    }

    @media screen and (max-width: 552px) {
     
        .writePost {
            padding: 15px 20px;
        }

        .writePostDiv{
            position: fixed;
            right: 20px;
            bottom: 20px;
        }
       
     }



  



   


