@use './mixins.scss' as mixins;
// Variables
:root {
  --yellow: 248, 241, 178;
  --blue: 40, 119, 153;
  --lightBlue: 138, 220, 255;
  --black: 0, 0, 0;
  --white: 252, 251, 251;

  --orange: 255, 196, 80;
  --orange2: 232, 165, 37;
  --red: 255, 43, 43;

  //Shadow color: 
  --grey: 181, 181, 181;
  
  --smallRadius: 5px;
  --bigRadius: 10px;

 

}


// Fonts
@font-face {
  font-family: Monofett;
  src: url(./fonts/Monofett-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-VariableFont.ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

html,
body {
  @include mixins.body();
}

// Default styles
a {
  color: inherit;
  text-decoration: none;
}

p{
  font-family: Inter;
  font-size: 16px;
}

.link {
  color: rgb(var(--black), 0.8);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  font-family: Inter;

  &:hover{
    color: rgb(var(--black));
    text-decoration: underline;
  }
}

main{
  @include mixins.main();
}

label{
    font-family: Inter;
    color: rgb(var(--black));
    font-size: 18px;
    margin-top: 40px;
}

input{
  font-family: Inter;
  font-size: 14px;
  background-color:transparent;
  border: 0;
  border-bottom: 1px solid rgb(var(--black));
  box-shadow: none;
  color: rgb(var(--black));
  margin-bottom: 10px;
  height: 30px;
  width: 250px;
}

input::placeholder {
  color: rgb(var(--black)); /* or you can use a specific color value, e.g., color: black; */
}

input:focus {
  outline: none; /* Remove the default outline */
  border-bottom: 1px solid rgb(var(--black)); /* Ensure the border color remains the same */
}





