

@mixin body{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: (rgb(var(--white)));
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  min-height: 100vh;
}

@mixin main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

/*
@mixin link{
  color: rgb(var(--secondaryColor), 0.8);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    color: rgb(var(--secondaryColor));
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: rgb(var(--secondaryColor));
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
} */








@keyframes dribble {
  0%{
      translate: -5px 0;
  }
  25%{
      translate: 5px 0px;
  }
  50%{
      translate: -5px 0px;
  }
  75%{
      translate: 0px 0px;
  }
  100%{
      translate: 0 0;
  }
}

@mixin dribble{
  animation: dribble 0.5s ease-in-out;
}

@mixin transition{
  transition: all 0.5s ease-in-out;
}

@mixin transform{
  transform: scale(1.01); 
}

@mixin CFAButton{

    font-family: Inter;
    font-weight: 500;
    color: rgb(var(--black));
    border: solid 2.5px rgb(var(--black));
    outline: 0;
    padding: 7px 10px;
    font-size: 1rem;
    letter-spacing: 0;
    background-color: rgb(var(--orange));
    border-radius: var(--bigRadius);
    position: relative;
    cursor: pointer; 
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: rgb(var(--orange));
        z-index: -1;
        border-radius: var(--bigRadius);
        border: solid 2px rgb(var(--white));
        box-shadow:  3px 3px 5px rgb(var(--white),0.5);
        transition: all 0.5s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        height: 100%;
        top: 5px;
        left: 5px;
      }
  } 

  @mixin DeleteButton{

    font-family: Inter;
    font-weight: 500;
    color: rgb(var(--black));
    border: solid 2.5px rgb(var(--black));
    outline: 0;
    padding: 7px 10px;
    font-size: 1rem;
    letter-spacing: 0;
    background-color: rgb(var(--red));
    border-radius: var(--bigRadius);
    position: relative;
    cursor: pointer; 
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: rgb(var(--red));
        z-index: -1;
        border-radius: var(--bigRadius);
        border: solid 2px rgb(var(--white));
        box-shadow:  3px 3px 5px rgb(var(--white),0.5);
        transition: all 0.5s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        height: 100%;
        top: 5px;
        left: 5px;
      }
  } 

  @mixin fbButton{

    font-family: Inter;
    font-weight: 500;
    color: rgb(var(--black));
    border: solid 2.5px rgb(var(--black));
    outline: 0;
    padding: 7px 10px;
    font-size: 1rem;
    letter-spacing: 0;
    background-color: rgb(8, 102, 255);
    border-radius: var(--bigRadius);
    position: relative;
    cursor: pointer; 
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color:rgb(8, 102, 255);
        z-index: -1;
        border-radius: var(--bigRadius);
        border: solid 2px rgb(var(--white));
        box-shadow:  3px 3px 5px rgb(var(--white),0.5);
        transition: all 0.5s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        height: 100%;
        top: 5px;
        left: 5px;
      }
  } 


  @mixin googleButton{

    font-family: Inter;
    font-weight: 500;
    color: rgb(var(--black));
    border: solid 2.5px rgb(var(--black));
    outline: 0;
    padding: 7px 10px;
    font-size: 1rem;
    letter-spacing: 0;
    background-color: rgb(var(--white));
    border-radius: var(--bigRadius);
    position: relative;
    cursor: pointer; 
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color:rgb(var(--white));
        z-index: -1;
        border-radius: var(--bigRadius);
        border: solid 2px rgb(var(--white));
        box-shadow:  3px 3px 5px rgb(var(--white),0.5);
        transition: all 0.5s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        height: 100%;
        top: 5px;
        left: 5px;
      }
  }
  
  @mixin exitBtn{
    padding: 4px 11px;
    border-radius: 50px;
    margin: -5px -25px; 
    background-color: transparent;
    border: 2px solid rgb(var(--black));
    color: rgb(var(--black));
    font-size: 16px;
    font-family: Inter;
    cursor: pointer;
  }










@mixin smallShadow ($shadowColor: --grey) {
  box-shadow:  1px 1px 2px rgb(var($shadowColor),0.2),
      -1px -1px 2px rgb(var($shadowColor), 0.2);
}

@mixin bigShadow($shadowColor: --grey) {
  box-shadow:  5px 5px 10px rgb(var($shadowColor),0.5),
  -5px -5px 10px rgb(var($shadowColor), 0.2);
}

@mixin backgroundImage(){
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  //background-attachment: fixed;
}





@mixin link {
  color: rgb(var(--secondaryColor)); /* Sets the default color for links */
  text-decoration: none;
  margin: 0 5px;
  letter-spacing: 1px;
  transition: .25s ease;

  &:hover {
    text-decoration: underline; /* Adds underline on hover */
  }
}
