@import '../mixins';

.dropdown {
  max-height: 300px; 
  overflow-y: auto;
}

.commentDiv {
  background-color: white;
  border-radius: var(--smallRadius);
  margin: 5px 0;
  padding: 10px;
}

.commentInput {
  width: 100%;
  height: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: var(--smallRadius);
  font-size: 14px;
  font-family: Inter;
}

.commentButton {
  margin-top: 10px;
}

.profilePic{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}



.TopContainer{
  height: 30px;
  display: flex;
  align-items:normal;
  justify-content: space-between;

  .Left{
    display: flex;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

}





.Name{
  font-family: Inter;
  font-size: 12px;
}

.pronounce{
  font-family: Inter;
  font-size: 10px;
}

.date{
  font-family: Inter;
  font-size: 10px;
  margin: 0;
}

.content{
  font-family: Inter;
  font-size: 14px;
  margin: 5px 0;
}

.CFAButton{
  @include CFAButton;
  padding: 5px 15px;
  font-size: 16;
  cursor: pointer;
}

.bottom{
  text-align: right;
}

.btn{
  background-color: transparent;
  border: 0;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
}




