@use "../mixins.scss" as mixins;

.SeparationParent{
   width: 100vw;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .line{
    width: 250px;
    height: 150px;
    border-bottom: 1px solid rgb(var(--black));
   }

   .line2{
    width: 250px;
    height: 150px;
   }
}

@media screen and (max-width: 500px) {

   .SeparationParent{
      width: 100vw;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
      .line{
       width: 150px;
       height: 150px;
       border-bottom: 1px solid rgb(var(--black));
      }
   
      .line2{
       width: 250px;
       height: 150px;
      }
   }
 
}   

