@use "../mixins.scss" as mixins;

.Parent{
    width: 100vw;
    height: fit-content;
    padding: 0px 0px 0px 30px;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
   

    h2{
        font-family: Monofett;
        font-size: 60px;
        margin-bottom: 20px;
    }
}

.link{
    @include mixins.link();
    font-family: Inter;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-left: -15px;
}

@media screen and (max-width: 810px) {

    .globeClouds {
        height: 550px;
        width: 450px;
    }

    .Parent{
        height: 350px;
    }

}

@media screen and (max-width: 722px) {

    .Parent{
        height: 250px;
    }
    
    .left{
       
        h2{
            font-size: 50px;
        }
    }

    .link{
        font-size: 16px;
    }

    .globeClouds {
        height: 450px;
        width: 350px;
    }
}

@media screen and (max-width: 600px) {

    .Parent{
        width: 100vw;
        padding: 0px 0px 0px 20px;
        height: 200px;
    }
    
    .left{
       
        h2{
            font-size: 40px;
        }
    }

    .link{
        font-size: 14px;
        margin: 5px 0;
    }

    .globeClouds {
        height: 350px;
        width: 250px;
    }
}

@media screen and (max-width: 500px) {

    .Parent{
        width: 100vw;
        padding: 0px 0px 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .left{
       
        h2{
            font-size: 40px;
        }
    }

    .link{
        font-size: 12px;
        margin: 5px 0;
    }

    .globeClouds {
        height: 300px;
        width: 200px;
    }
}

@media screen and (max-width: 380px) {

    .Parent{
    justify-content:space-between;
    height: 200px;
    }
    
    .left{
       
        h2{
            font-size: 30px;
        }
    }

    .link{
        font-size: 12px;
        margin: 5px 0;
    }

    .globeClouds {
        height: 300px;
        width: 200px;
    }
}

