.LogoSmall{
    margin-top: 7px;
}

.globe {
  width: 303px;
  height: 322px;
}

.stars{
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 100px;
    animation: stars 3s ease-in-out infinite;
}

@keyframes stars {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .report {
    margin: 5px;
  }

  .comment2 {
    margin: 5px;
  }

  @media screen and (max-width: 985px) {
  
    .stars{
      top: 90px;
      left: 0px;
  }
  
  }

  @media screen and (max-width: 746px) {

    .globe {
      width: 253px;
      height: 222px;
    }
  
    .stars{
      top: 150px;
      left: 0px;
      height: 120px;
      width: 100px;
  }
  
  }

  @media screen and (max-width: 746px) {

    .globe {
      width: 253px;
      height: 222px;
    }
  
    .stars{
      top: 70px;
      left: -20px;
      height: 120px;
      width: 100px;
  }
  
  }