@use "../mixins.scss" as mixins;
@import '../mixins';

.parent{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(var(--white));
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 15px; 

    .section1{
      width: 500px;
      height: 60px;
      display: flex;
      justify-content: left;
      align-items: center;

      .link {
        font-family: inter;
        font-weight: normal;
        color: rgb(var(--black)); 
        background-color: transparent;
        text-decoration: none;
        margin: 0 5px;
        letter-spacing: 1px;
        transition: .25s ease;
      
        &:hover {
          text-decoration: underline; 
        }
      }
  }

  .section3{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;

    .linkBtn{
      color: rgb(var(--black)); 
      font-family: inter;
      text-decoration: none;
      background-color: transparent;
      border: 0;
      margin: 0 15px;
      letter-spacing: 1px;
      transition: .25s ease;
      font-size: 16px;
    
      &:hover {
        text-decoration: underline; 
      }
    }
}
}
  .ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 10px;
    
    li {
      margin-left: .45em;
      margin-right: .45em;
    }
    
    &:hover {
      .link {
        color: rgb(var(--secondaryColor), 0.5); /* Fades other links */
        &:hover {
          color: rgb(var(--secondaryColor)); /* Keeps hovered link dark blue */
          text-decoration: underline;
        }
      }
    }
  }

  .span{
    margin: 0 30px 0 10px;
  }

  .link{
    background-color: none;
    border: 0;
  }

  
  .exitBtn{
    @include mixins.exitBtn();
  }

  .CFAButton{
    @include CFAButton;
    height: 55px;
  }

 


 

  
 
